.box{
    display: inline-block;
    font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype,Times New Roman,"Droid Serif",Times,serif;
    color: black;
}

body {
  background-color: white;
}
